.news-block {
  color: var(--primary-color) !important;
}

.news-block-date {
  color: var(--secondary-color);
}

.rainbow {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(168, 168, 0);
  }
  25% {
    color: rgb(82, 165, 0);
  }
  33% {
    color: rgb(0, 101, 0);
  }
  41% {
    color: rgb(0, 51, 26);
  }
  50% {
    color: rgb(0, 186, 186);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
